
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: #E07A5F;
}

.mainimg {
  background-color: #81B29A;
  width: 80%;
  padding: 10px;
  height: 50%;
}

.card {
  background-color: #F2CC8F;
  padding: 10px;
  margin-top: 15px;
  height: 500px; 

}

.vertical-menu {
  width: 200px;
  height: 150px;
  overflow-y: auto;
}
