
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: #E07A5F;
}

.mainimg {
  background-color: #F2CC8F;
  width: 80%;
  padding: 20px;
}

.card {
  background-color: #81B29A;
  padding: 15px;
  margin-top: 15px;
}
