
body{
  background-color: #3D405B;
  font-family: "Courier New", monospace;
  color: #F4F1DE;
}

[data-tab-content]{
  display: none;
}

.active[data-tab-content]{
  display: block; 
}

.tabs{
  display: flex; 
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0; 
  border-bottom: 1px solid #F4F1DE;
}

.tab{
  cursor: pointer; 
  padding: 10px; 
}

.tab.active{
  background-color: #CCC; 
}

.tabhover{
  background-color: #AAA;
}

.tab-content{
  margin-left: 20px;
  margin-right: 20px;
}
